body {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.first-entry .entry-header h1, .post-header h1{
    font-size: 44px;
}

.entry-header h1,
.entry-header h2,
.entry-header h3,
.post-header h1,
.post-header h2,
.post-header h3 {
    font-family: "Gaegu", serif;
    font-weight: 400;
    font-style: normal; 
} 

.post-meta, .post-meta span, .post-meta time, .entry-footer span, .archive-meta span {
    display: block;
}

.share-buttons{
    background: none;
    border: none;
    margin-top: 56px;
}